*{
    margin: 0;
}
body{
    background-image: url("../img/marvel-snap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: flex;
    justify-content: center;


}
.start-game{
    display: flex;
    align-items: last baseline;
    padding: .8rem;
    

}
.content input{
    
    background-color: lightblue;
    padding: .6rem;
    outline: none;
}
.content button{
    background-color: cyan;
    color: brown;
}
.score{
    font-size: 1.5rem;
    color: antiquewhite;
}
