/* *{
    margin: 0;
} */
body{
    margin: 0;
    background: black
    
    

}
.content{
    display: flex;
    justify-content: center;


}
.start-game{
    display: flex;
    align-items: last baseline;
    padding: .8rem;
    

}
.content input{
    
    background-color: lightblue;
    padding: .6rem;
    outline: none;
}
.content button{
    background-color: cyan;
    color: brown;
}
.score{
    border: 1px dashed ;
    font-size: 1.5rem;
    color: antiquewhite;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    text-align: center;
    

}
.card img{
    width: 200px;
    height: 300px;
    border: 2px solid orange;
}
