*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:cornflowerblue;
}
/* .content{
    display: flex;
    justify-content: center;


}
.start-game{
    display: flex;
    align-items: last baseline;
    padding: .8rem;

}
.content input{
    
    background-color: lightblue;
    padding: .6rem;
    outline: none;
}
.content button{
    background-color: cyan;
    color: brown;
}
.score{
    border: 1px dashed ;
    font-size: 1.5rem;
    color: antiquewhite;

} */
#game{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    text-align: center;

}
.card{
    position: relative;
}
.face,.back{
    height: 100%;
    width: 100%;
}
.back{
    background-color: black;
    position: absolute;
}
/* .card img{
    width: 200px;
    height: 300px;
    border: 2px solid orange;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
}  */
